#aboutus-container {
    height: 1070px;
    margin: 0px 20px 0px 200px;
    overflow: hidden;
}

#aboutus-header {
    margin: 20px 20px 20px 200px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bold;
}

#cardimg1 {
    height: 300px;
    border-radius: 5%;
    border: 2px solid black;
}

#cardimg2 {
    height: 300px;
    border-radius: 5%;
    border: 2px solid black;
}

.card {
    padding: 15px;
    width: 25rem;
    height: 1000px;
    margin: 15px 30px;
    background-color: rgba(149, 165, 166, 0.5);
    text-align: center;
    box-shadow: 8px 8px 9px 0 rgba(36, 36, 32, 0.8);
    border: 3px solid black;
}

.card-name {
    font-family: "Saira Stencil One";
    font-size: 45px;
    color: black;
}

.card-title {
    font-family: "Saira Stencil One";
    font-size: 25px;
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 25px;
    letter-spacing: 12px;
}

.card-text {
    font-family: Azonix;
    font-size: 16px;
    font-weight: lighter;
    line-height: 25px;
}

