/* WEBPAGE CONTAINER */
:root{ /*This is so that certain fonts/parameters are used universally throughout the site*/
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 30px;
}
main{ /*Since I didn't use bootstrap, I manually set margins and such to create the navbar object*/
  margin-left: 5rem;
  padding: 1rem;
}
body { /*Going to be straight here, don't know why the 'body' tag only changes the titles color*/
  color: grey;
}

.page-holder {
  min-height: 100vh;
  min-width: 100vh;
}

/* WEBPAGE BACKGROUND COLOR*/
.bg-cover {
  background-size: cover !important;
  background: linear-gradient(100deg, #393939, #161616) white;
}

/* NAVBAR BACKGROUND PROPERTIES
*/

/* SCROLLBAR PROPERTIES
 this is just to make the scrollbar pretty :)*/
body::-webkit-scrollbar{
  width: 0.35rem;
}
body::-webkit-scrollbar-track{
  background: #FFC253;
}
body::-webkit-scrollbar-thumb{
  background: #DE8F00;
}
/* ALLOW STICKY PROPERTY FOR SAFARI USERS */
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

/* LOGO PROPERTIES
This will actually do something once the logo is a vector graphic, couldn't find one to use*/
.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* NAVBAR ITEM CONTAINER */
.navbar{/* Defining paramters of sidebar, and how it appears to user */
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #161616;
  transition: 200ms ease;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Makes support icon appear at bottom of navbar */
.nav-item:last-child{
  margin-top: auto;
}
/* NAVBAR ITEM PROPERTIES */
.nav-item{
  width: 100%;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  font-family: 'Big Shoulders Stencil Display', cursive; /*This stuff can be moved to root, TODO*/
  font-size: 30px; !important
  font-size: 1vw;
  color: #DE8F00;
  text-decoration: none;

}
.link-text{
  display: none;
  margin-left: 1rem;
}

.nav-link svg{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #FFC253;
  color: black;

}
/* ACTIVE NAV ITEM PROPERTIES */
.navbar:hover {
  width: 8rem;
}
.navbar:hover .link-text {
  display: block;
}
.search-bar-border {
  border: medium black;
}
/* Small screens, so it is resized on mobile/tiny screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}