/* ===================================================================================================================
  PROVIDING SUPPORT FOR HTML ON CERTAIN BROWSERS
 =================================================================================================================== */

/* ALLOW STICKY PROPERTY FOR SAFARI USERS */
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

/* ===================================================================================================================
  BEGIN STYLING
 =================================================================================================================== */

/* Small screens, so it is resized on mobile/tiny screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}


/* This is so that certain fonts/parameters are used universally throughout the site */
:root{
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 30px;
}
/* Since I didn't use bootstrap, I manually set margins and such to create the navbar object */
main{
  margin-left: 10rem;
  margin-right: 5rem;
}

/* Scrollbar Properties */
body::-webkit-scrollbar{
  width: 0.35rem;
}
body::-webkit-scrollbar-track{
  background: #FFC253;
}
body::-webkit-scrollbar-thumb{
  background: #DE8F00;
}


/* ===================================================================================================================
  WEBPAGE CONTAINER STYLING
 =================================================================================================================== */

/* Header Container Properties */
.website-name-header {
  overflow: hidden;
  display: grid;
  justify-content: center;
  margin-left: 9rem;
}

/* Header Text Properties */
.website-name-header a {
  color: #DE8F00;
  text-decoration: none;
  text-align: center;
  padding: .5rem;
  font-family: 'Saira Stencil One', cursive;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

/* HR One Properties (Underneath Title of Page) */
hr.one {
  margin-top: 0px;
  margin-left: 240px;
  margin-right: 50px;
  height: 5px;
  border-width: 0px;
  color: black;
  background-color: black;
}

/* Webpage Background Color */
.page-holder {
  min-height: 100vh;
  min-width: 100vh;
  background-size: cover !important;
  background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg00.deviantart.net%2F19f8%2Fi%2F2016%2F011%2Fc%2F7%2Fyasuo_minimalist___league_of_legends_by_sangpendosa-d9nkuop.png&f=1&nofb=1") fixed;
  background-position-y: top;
}


/* ===================================================================================================================
  NAVBAR CONTAINER STYLING
 =================================================================================================================== */

/* Navbar Logo Properties */
.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Defining Parameters of Navbar */
.navbar{
  width: 6rem;
  height: 100vh;
  position: fixed;
  background-color: #161616;
  transition: 200ms ease;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Makes support icon appear at bottom of navbar */
.nav-item:last-child{
  margin-top: auto;
}

/* Navbar Item Properties */
.nav-item{
  width: 100%;
}

/* General Navbar Link Properties */
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 32px; !important
  font-size: 1vw;
  color: #DE8F00;
  text-decoration: none;
}
.link-text{
  display: none;
  margin-left: 1rem;
}

/* Active Navbar Link Properties */
.nav-link.active {
  color: #933A16;
}

.nav-link svg{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* Navbar Link Hover Properties */
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: rgba(169, 169, 169, .2); /* Set background color to dark gray with 20% opacity */
  color: #DE8F00;
}
.navbar:hover {
  width: 8rem;
}
.navbar:hover .link-text {
  display: block;
}
