<!-- HOMEPAGE OF WEBSITE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ABOUT US</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Bootstrap CSS, JS, and Popper Tooltips -->
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Include Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Main CSS Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- About Us Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/aboutus.css')}}">

    <!-- Connect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Big Shoulders Stencil Display: Light 300 -->
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap" rel="stylesheet">
    <!-- Saira Stencil One: Regular 400 -->
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
</head>


<body class="elements">
    <!-- HOMEPAGE LEFT-SIDE NAVBAR -->
    <div class="container-fluid">
        <div class="row" id="left-navbar">
            <nav class="navbar">
                <ul class="navbar-nav">
                <!-- LOGO/BRAND PLACEMENT -->
                <a class="navbar-brand" href={{url_for('logoclick')}}>
                    <img class="align-content-center" src="{{url_for('static', filename='logo.png')}}" width="110" height="82">
                </a>
                <!-- NAVBAR ITEMS -->
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('home')}}>
                            <ion-icon name="planet"></ion-icon>
                           <span class="link-text">HOME</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('lookup')}}>
                            <ion-icon name="search"></ion-icon>
                            <span class="link-text" role="button">SUMMONER SEARCH</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('champions')}}>
                            <ion-icon name="journal"></ion-icon>
                            <span class="link-text">CHAMPIONS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('about')}}">
                            <ion-icon name="contacts"></ion-icon>
                            <span class="link-text" role="button">ABOUT US</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('support')}}">
                            <ion-icon name="cog"></ion-icon>
                            <span class="link-text">SUPPORT</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="page-holder">
        <!-- WEBSITE TITLE -->
        <header class="website-name-header">
            <a href="index.html" class="webpage-title">LEAGUE OF LEGENDS STATISTICS TRACKER</a>
        </header>
        <hr class="one">
        <h1 style="text-align: center" id="aboutus-header">ABOUT US</h1>

        <!-- ABOUT US CARDS -->
        <div class="d-flex align-items-center justify-content-center" id="aboutus-container">
            <div class="row" id="cardholders">
                <!-- JAREL'S CARD INFO -->
                <div class="col">
                    <div class="card">
                        <div class="mx-auto">
                            <img src="{{url_for('static', filename='jarel-aboutus.jpg')}}" alt="Jarel" id="cardimg1">
                        </div>
                        <div class="card-body">
                            <h2 class="card-name">JAREL MACANAS</h2>
                            <p class="card-title">> FRONTEND DESIGNER <</p>
                            <p class="card-text"><span>I am currently a fourth-year Computer Engineering Student at San Diego State University. This semester kinda got me wrecked, but I graduate after this so all is well.<br><br>
                                For this project, my job was mostly working on the frontend development of our website, additionally helping out with the backend and API when possible.<br><br>
                                Much of the work I've done has gone into creating the base page of our website as well as the several containers that display much of the data taken from RIOT GAMES' API. Bootstrap is heavily utilized to create a majority of the frontend design while Javascript was added to offer some simple animations.<br><br>
                                Basically, I made the website look as appealing to our users as possible. I'm no artist, but maybe I should've been.
                            </span></p>
                        </div>
                    </div>
                </div>
                <!-- JUSTIN'S CARD INFO -->
                <div class="col">
                    <div class="card">
                        <div class="mx-auto">
                            <img src="{{url_for('static', filename='justin-aboutus.jpg')}}" alt="Justin" id="cardimg2">
                        </div>
                        <div class="card-body">
                            <h2 class="card-name">JUSTIN FEDERICO</h2>
                            <p class="card-title">> BACKEND DESIGNER <</p>
                            <p class="card-text"><span>I am currently a fourth-year Computer Engineering Student at San Diego State University. For my part in the website development, I focused much more on backend operations.<br><br>
                                The integration of Flask to serve the user as well as handle API requests for displaying data is the primary goal of my development. Additionally, I assisted in writing some Javascript to animate certain HTML elements.<br><br>
                                API and database work was something completely foreign to me this project, and I've learned a lot along the way. I find it very interesting and applicable, and this experience has genuinely made me consider a career in web development.<br><br>
                                To summarize, I make sure the gears turn behind the curtain. It's not glamorous, but it's gotta be done.

                            </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INSTALL BOOTSTRAP BUNDLE W/ POPPER -->
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <!-- INSTALL IONICONS PACKAGE FOR ICONS -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>

</html>