<!-- HOMEPAGE OF WEBSITE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LEAGUE STAT TRACKER</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Include Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Main CSS Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- Data Display Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataDisplay.css')}}">

    <!-- Connect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Big Shoulders Stencil Display: Light 300 -->
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap" rel="stylesheet">
    <!-- Saira Stencil One: Regular 400 -->
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
</head>


<body class="elements">
    <!-- HOMEPAGE LEFT-SIDE NAVBAR -->
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar">
                <ul class="navbar-nav">
                <!-- LOGO/BRAND PLACEMENT -->
                <a class="navbar-brand" href={{url_for('logoclick')}}>
                    <img class="align-content-center" src="{{url_for('static', filename='logo.png')}}" width="110" height="82">
                </a>
                <!-- NAVBAR ITEMS -->
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('default')}}>
                            <ion-icon name="planet"></ion-icon>
                           <span class="link-text">HOME</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href={{url_for('lookup')}}>
                            <ion-icon name="search"></ion-icon>
                            <span class="link-text" role="button">SUMMONER SEARCH</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('champions')}}>
                            <ion-icon name="journal"></ion-icon>
                            <span class="link-text">CHAMPIONS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">
                            <ion-icon name="contacts"></ion-icon>
                            <span class="link-text" role="button">ABOUT US</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('support')}}">
                            <ion-icon name="cog"></ion-icon>
                            <span class="link-text">SUPPORT</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="page-holder">
        <!-- WEBSITE TITLE -->
        <header class="website-name-header">
            <a href="index.html" class="webpage-title">LEAGUE OF LEGENDS STATISTICS TRACKER</a>
        </header>
        <hr class="one">
        <h1 style="text-align: center" id="match-header">MATCH HISTORY</h1>

        <!-- MATCH CONTAINERS -->
        <div class="d-flex align-items-center justify-content-center" id="match-list-container">
            <!-- SPECIFIES UNORDERED LIST OF MATCHES -->
            <ul id="match-list" class="flex-column">
                <!-- ONE MATCH -->
                <li class="d-flex flex-row" id="match-statistics">
                    <!-- MATCH INFO -->
                    <div class="d-flex flex-column flex-fill justify-content-center align-items-center" id="match-info">
                        <div class="d-flex" id="game-type">
                            NORMAL
                        </div>
                        <div class="timestamp">
                            2 DAYS AGO
                        </div>
                        <div class="d-flex" id="bar"></div>
                        <div class="d-flex" id="game-result">
                            LOSS
                        </div>
                        <div class="d-flex" id="game-time">
                            24:57
                        </div>
                    </div>
                    <!-- MATCH CHAMPION -->
                    <div class="d-flex flex-row flex-fill justify-content-center align-self-center" id="match-champion">
                        <!-- CHAMPION ICON -->
                        <div class="d-flex flex-column align-self-center" id="champion-info">
                            <div class="d-flex justify-content-center" id="champion-icon">
                                <img src="https://raw.communitydragon.org/12.7/game/assets/characters/ekko/hud/ekko_square.png" alt="Ekko.png" width="50px" height="50px">
                            </div>
                            <div class="d-flex justify-content-center">
                                Ekko
                            </div>
                        </div>
                        <!-- RUNE ICONS -->
                        <div class="d-flex flex-column justify-content-center align-self-center" id="runes">
                            <div class="d-flex justify-content-center" id="keystone">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/domination/darkharvest/darkharvest.png" alt="keystone-image" width="35px" height="35px">
                            </div>
                            <div class="d-flex justify-content-center" id="secondary-tree">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/7203_whimsy.png" alt="secondary-tree-image" width="35px" height="35px">
                            </div>
                        </div>
                        <!-- SPELL ICONS -->
                        <div class="d-flex flex-column align-self-center" id="spells">
                            <div class="d-flex justify-content-center" id="spell-one">
                                <img src="https://raw.communitydragon.org/12.7/game/assets/spells/icons2d/summoner_teleport.png" alt="summoner-spell-one" width="35px" height="35px">
                            </div>
                            <div class="d-flex justify-content-center" id="spell-two">
                                <img src="https://raw.communitydragon.org/12.7/game/assets/spells/icons2d/summoner_smite.png" alt="summoner-spell-two" width="35px" height="35px">
                            </div>
                        </div>
                    </div>
                    <!-- MATCH KDA -->
                    <div class="d-flex flex-column flex-fill align-items-center align-self-center" id="match-kda">
                        <!-- SUMMONER KDA -->
                        <div class="d-flex" id="summoner-kda">
                            <span>4</span>
                            &nbsp|&nbsp
                            <span class="deaths">5</span>
                            &nbsp|&nbsp
                            <span>13</span>
                        </div>
                    </div>
                    <!-- MATCH BASIC STATS -->
                    <div class="d-flex flex-column flex-fill justify-content-center align-items-center" id="match-basic-stats">
                        <!-- SUMMONER LEVEL -->
                        <div class="d-flex" id="summoner-level">
                            Level 213
                        </div>
                        <!-- SUMMONER CS AVERAGE -->
                        <div class="d-flex" id="summoner-cs">
                            113 CS Total | 3.4 CS/min
                        </div>
                        <!-- KILL PARTICIPATION -->
                        <div class="d-flex" id="summoner-kp">
                            Kill Participation | 30.4%
                        </div>
                        <!-- MMR AVERAGE -->
                        <div class="d-flex" id="match-mmr-average">
                            MMR Average | Gold 2
                        </div>
                    </div>
                    <!-- MATCH ITEMS -->
                    <div class="d-flex flex-fill justify-content-center align-self-center" id="match-items">
                        <ul class="d-flex flex-row flex-wrap" id="items-container">
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                            <li class="item">
                                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d/3070_all_t1_tearofthegoddess.png" alt="" width="35px" height="35px">
                            </li>
                        </ul>
                    </div>
                    <!-- MATCH PLAYERS -->
                    <div class="d-flex flex-fill justify-content-center align-self-center" id="match-players">
                        <!-- TEAM ONE -->
                        <ul class="d-flex flex-column" id="player-list-one">
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- TEAM TWO -->
                        <ul class="d-flex flex-column" id="player-list-two">
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                            <li class="player-item">
                                <div class="d-flex flex-row">
                                    <div class="player-champion-icon">
                                        <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/876.png" alt="champ icon" width="20px" height="20px">
                                    </div>
                                    <div class="player-name text-truncate align-self-center justify-content-center">
                                        Player Nameasdfsadf
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex" id="expand-stats">
                        <button class="expand-stats-button">

                        </button>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <!-- INSTALL BOOTSTRAP BUNDLE W/ POPPER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- INSTALL IONICONS PACKAGE FOR ICONS -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>