<!-- HOMEPAGE OF WEBSITE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LEAGUE STAT TRACKER</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Bootstrap CSS, JS, and Popper Tooltips -->
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Include Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- INSTALL IONICONS PACKAGE FOR ICONS -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <!-- Main CSS Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- Data Display Reference Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataDisplay.css')}}">

    <!-- Connect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Big Shoulders Stencil Display: Light 300 -->
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap" rel="stylesheet">
    <!-- Saira Stencil One: Regular 400 -->
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">

    <!-- INCLUDE MAIN.JS FILE -->
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>

    <div class="nav">

    </div>
<body class="elements">
    <!-- HOMEPAGE LEFT-SIDE NAVBAR -->
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar">
                <ul class="navbar-nav">
                <!-- LOGO/BRAND PLACEMENT -->
                <a class="navbar-brand" href={{url_for('logoclick')}}>
                    <img class="align-content-center" src="{{url_for('static', filename='logo.png')}}" width="110" height="82">
                </a>
                <!-- NAVBAR ITEMS -->
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('default')}}>
                            <ion-icon name="planet"></ion-icon>
                           <span class="link-text">HOME</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href={{url_for('lookup')}}>
                            <ion-icon name="search"></ion-icon>
                            <span class="link-text" role="button">SUMMONER SEARCH</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{url_for('champions')}}>
                            <ion-icon name="journal"></ion-icon>
                            <span class="link-text">CHAMPIONS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">
                            <ion-icon name="contacts"></ion-icon>
                            <span class="link-text" role="button">ABOUT US</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('support')}}">
                            <ion-icon name="cog"></ion-icon>
                            <span class="link-text">SUPPORT</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="page-holder">
        <!-- WEBSITE TITLE -->
        <header class="website-name-header">
            <a href={{url_for('default')}} class="webpage-title">LEAGUE OF LEGENDS STATISTICS TRACKER</a>
        </header>
        <hr class="one">
        <h1 style="text-align: center" id="match-header">{{summoner}}'s Match History</h1>

        <!-- MATCH CONTAINERS -->
        <div class="d-flex flex-column align-items-center justify-content-center" id="match-list-container">
            <!-- SPECIFIES UNORDERED LIST OF MATCHES -->
            <div id="match-list">
                {% for x in range(0, count) %}
                {% set outer_loop = loop %}
                <!-- ONE MATCH -->
                <div class="match">

                    <!-- UNEXTENDED MATCH DETAILS CONTAINER -->
                    <div class="d-flex" id="unextended-match-details-container">
                        <ul class="d-flex flex-column">
                            <li class="d-flex flex-row" id="match-statistics">
                                <!-- MATCH INFO -->

                                <div class="d-flex flex-column flex-fill justify-content-center align-items-center" id="match-info">
                                    <div class="d-flex game-type">
                                        NORMAL
                                    </div>
                                    <div class="timestamp">
                                        2 DAYS AGO
                                    </div>
                                    <div class="d-flex bar"></div>
                                    <div class="d-flex game-result">
                                        {% for i in range(0, 9) %}
                                            {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                {% if match_list[(outer_loop.index-1)][i].win == 1 %}
                                                    {% block winStyle %}
                                                    <style>
                                                        .game-result {color:green}
                                                    </style>
                                                    {% endblock %}
                                                    WIN
                                                {% else %}
                                                    {% if match_list[(outer_loop.index-1)][i].win == 0 %}
                                                        {% block lossStyle %}
                                                        <style>
                                                            .game-result {color:red}
                                                        </style>
                                                        {% endblock %}
                                                        LOSS
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}

                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    <div class="d-flex" id="game-time">
                                        24:57
                                    </div>
                                </div>
                                <!-- MATCH CHAMPION -->
                                <div class="d-flex flex-row flex-fill justify-content-center align-self-center" id="match-champion">
                                    <!-- CHAMPION ICON -->
                                    <div class="d-flex flex-column align-self-center" id="champion-info">
                                        <div class="d-flex justify-content-center" id="champion-icon">
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(outer_loop.index-1)][i].champion}}.png" alt="Ekko.png" width="50px" height="50px">
                                                {% else %}

                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                        <div class="d-flex justify-content-center">
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    {{match_list[(outer_loop.index-1)][i].championName}}

                                                {% else %}

                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- RUNE ICONS -->
                                    <div class="d-flex flex-column justify-content-center align-self-center" id="runes">
                                        <div class="d-flex justify-content-center" id="keystone">
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/domination/darkharvest/darkharvest.png" alt="keystone-image" width="35px" height="35px">
                                        </div>
                                        <div class="d-flex justify-content-center" id="secondary-tree">
                                            <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/perk-images/styles/7203_whimsy.png" alt="secondary-tree-image" width="35px" height="35px">
                                        </div>
                                    </div>
                                    <!-- SPELL ICONS -->
                                    <div class="d-flex flex-column align-self-center" id="spells">
                                        <div class="d-flex justify-content-center" id="spell-one">
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d{{match_list[(outer_loop.index-1)][i].summoner1Id}}" alt="summoner-spell-one" width="35px" height="35px">
                                                {% else %}

                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                        <div class="d-flex justify-content-center" id="spell-two">
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d{{match_list[(outer_loop.index-1)][i].summoner2Id}}" alt="summoner-spell-two" width="35px" height="35px">
                                                {% else %}

                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <!-- MATCH KDA -->
                                <div class="d-flex flex-column flex-fill align-items-center align-self-center" id="match-kda">
                                    <!-- SUMMONER KDA -->
                                    <div class="d-flex flex-column" id="summoner-kda">
                                        <div class="d-flex flex-fill justify-content-center kda-text">
                                            KDA
                                        </div>
                                        <div class="d-flex flex-fill justify-content-center kda-stats">
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    {{match_list[(outer_loop.index-1)][i].kills}}

                                                {% else %}

                                                {% endif %}
                                            {% endfor %}
                                            &nbsp|&nbsp
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    {{match_list[(outer_loop.index-1)][i].deaths}}

                                                {% else %}

                                                {% endif %}
                                            {% endfor %}
                                            &nbsp|&nbsp
                                            {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    {{match_list[(outer_loop.index-1)][i].assists}}

                                                {% else %}

                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                <!-- MATCH BASIC STATS -->
                                <div class="d-flex flex-column flex-fill justify-content-center align-items-center" id="match-basic-stats">
                                    <!-- SUMMONER LEVEL -->
                                    <div class="d-flex" id="summoner-level">
                                        {% for i in range(0, 9) %}
                                            {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                Account Level {{match_list[(outer_loop.index-1)][i].summonerLevel}}

                                            {% else %}

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- SUMMONER CS AVERAGE -->
                                    <div class="d-flex" id="summoner-cs">
                                        {% for i in range(0, 9) %}
                                            {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                {{match_list[(outer_loop.index-1)][i].totalMinionsKilled}} CS

                                            {% else %}

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- KILL PARTICIPATION -->
                                    <div class="d-flex" id="summoner-kp">
                                        {% for i in range(0, 9) %}
                                                {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                    Kill Participation | guh

                                                {% else %}

                                                {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- MMR AVERAGE -->
                                    <div class="d-flex" id="match-mmr-average">
                                        MMR Average | Gold 2
                                    </div>
                                </div>
                                <!-- MATCH ITEMS -->
                                <div class="d-flex flex-fill justify-content-center align-self-center" id="match-items">
                                    <ul class="d-flex flex-row flex-wrap justify-content-center" id="items-container">
                                        {% for i in range(0, 9) %}
                                            {% if match_list[(outer_loop.index-1)][i].summonerName == summoner %}
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item0}}" alt="" width="35px" height="35px">
                                                </li>
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item1}}" alt="" width="35px" height="35px">
                                                </li>
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item2}}" alt="" width="35px" height="35px">
                                                </li>
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item3}}" alt="" width="35px" height="35px">
                                                </li>
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item4}}" alt="" width="35px" height="35px">
                                                </li>
                                                <li class="item">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/items/icons2d{{match_list[(outer_loop.index-1)][i].item5}}" alt="" width="35px" height="35px">
                                                </li>

                                            {% else %}

                                            {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                                <!-- MATCH PLAYERS -->
                                <div class="d-flex flex-fill justify-content-center align-self-center" id="match-players">
                                    <!-- TEAM ONE -->

                                    <ul class="d-flex flex-column" id="player-list-one">

                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][0].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][0].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][1].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][1].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][2].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][2].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][3].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][3].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][4].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][4].summonerName}}
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                    <!-- TEAM TWO -->
                                    <ul class="d-flex flex-column" id="player-list-two">
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][5].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][5].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][6].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][6].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][7].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][7].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][8].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][8].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-item">
                                            <div class="d-flex flex-row">
                                                <div class="player-champion-icon">
                                                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{match_list[(loop.index-1)][9].champion}}.png" alt="champ icon" width="20px" height="20px">
                                                </div>
                                                <div class="player-name text-truncate align-self-center justify-content-center">
                                                    {{match_list[(loop.index-1)][9].summonerName}}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <!-- BUTTON TO REVEAL EXTENDED MATCH DETAILS CONTAINER -->
                                <div class="expand-stats d-flex">
                                    <a class="btn btn-primary d-flex align-items-end expand-stats-button-icon" id="newButton" data-toggle="collapse" href=".extended-match-details" role="button">
                                        <i class="bi-arrow-down"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- EXTENDED MATCH DETAILS CONTAINER -->
                    <div class="extended-match-details">
                        <div class="collapse" id="new-extended-match-container">
                        <ul class="d-flex flex-column">
                            <li class="d-flex flex-column" id="extended-match-tabs-container">
                                <div class="d-flex justify-content-center">
                                    <!-- TABS TO CONTROL WHICH ELEMENT TO SHOW - MATCH ANALYSIS OR GOLD/KILLS -->
                                    <div class="nav d-flex flex-fill nav-tabs justify-content-center" id="extended-match-tabs" role="tablist">
                                        <!-- MATCH ANALYSIS TAB -->
                                        <button class="nav-link active" id="match-analysis-tab" data-bs-toggle="tab" data-bs-target="#match-analysis" type="button" role="tab">MATCH ANALYSIS</button>
                                        <!-- GOLD AND KILLS TAB -->
                                        <button class="nav-link" id="gold-and-kills-tab" data-bs-toggle="tab" data-bs-target="#gold-and-kills" type="button" role="tab">GOLD & KILLS</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- THESE CONTAINERS HOLD ALL THE INFORMATION FOR BOTH EXTENDED MATCH ANALYSIS AND GOLD/KILLS ELEMENTS -->
                            <div class="d-flex flex-column align-items-center" id="extended-match-detail-container">
                                <div class="d-flex flex-row">
                                    <div class="align-items-center tab-content extended-match-content">
                                        <!-- CONTENT FOR MATCH ANALYSIS -->
                                        <div class="tab-pane fade show active" id="match-analysis" role="tabpanel">
                                            <div class="d-flex flex-row flex-fill justify-content-center team-legend">
                                                <div class="losing-team">
                                                    <span style="color: rgba(242, 0, 0, 0.8);">- LOSING TEAM</span>
                                                </div>
                                                <div class="winning-team">
                                                    <span style="color: rgba(0, 141, 242, 0.8);">- WINNING TEAM</span>
                                                </div>
                                            </div>
                                            <div class="container-fluid graphs">
                                                <div class="row text-center">
                                                    <div class="col graph-col">
                                                        CHAMPION KILLS
                                                    </div>
                                                    <div class="col graph-col">
                                                        GOLD EARNED
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col graph-col">
                                                        TOTAL DAMAGE DEALT TO CHAMPIONS
                                                    </div>
                                                    <div class="col graph-col">
                                                        WARDS PLACED
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col graph-col">
                                                        TOTAL DAMAGE TAKEN
                                                    </div>
                                                    <div class="col graph-col">
                                                        TOTAL CREEP SCORE
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- CONTENT FOR GOLD AND KILLS -->
                                        <div class="tab-pane fade" id="gold-and-kills" role="tabpanel">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!------------------------------------------------------------- END FIRST MATCH ------------------------------------------------------->
                <script type="text/javascript">
                    dynamicButtons();
                </script>
                {% endfor %}
            </div>
        </div>
        <!-- END MATCH CONTAINERS -->
    </div>

    <!-- INCLUDE JQUERY 3.6.0 VIA GOOGLE CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- INSTALL BOOTSTRAP BUNDLE W/ POPPER -->
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <!-- INSTALL IONICONS PACKAGE FOR ICONS -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>




</body>

</html>