<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homePage.css')}}">
<script  src="{{ url_for('static', filename='js/homePage.js')}}" data-turbolinks-track="reload"></script>
</head>
<body>

<div id="Home_Page">
	<image id="Nocturne" src="{{ url_for('static', filename='Nocturne.png')}}" srcset="{{ url_for('static', filename='Nocturne.png')}} 1x, {{ url_for('static', filename='Nocturne@2x.png')}} 2x">

	<div id="LOL_STAT_TRACKER">
		<span>LOL STAT TRACKER</span>
	</div>
	<svg class="Line_1" viewBox="0 0 293.75 3">
		<path id="Line_1" d="M 0 0 L 293.75 0">
		</path>
	</svg>
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="21" ry="21" x="0" y="0" width="500" height="42">
		</rect>
	</svg>
	<svg class="Line_5" viewBox="0 0 1 930.5">
		<path id="Line_5" d="M 0 0 L 0 930.5">
		</path>
	</svg>
	<svg class="Path_1" viewBox="0 0 1 930">
		<path id="Path_1" d="M 0 0 L 0 930">
		</path>
	</svg>
	<div id="login">
		<span>login</span>
	</div>
	<div id="HOME">
		<span>HOME</span>
	</div>
	<div id="CHAMPIONS">
		<span>CHAMPIONS</span>
	</div>
	<svg class="Rectangle_2">
		<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1393" height="148">
		</rect>
	</svg>
	<div id="ABOUT_US">
		<span>ABOUT US</span>
	</div>
	<div id="SUPPORT">
		<span>SUPPORT</span>
	</div>
	<div id="Enter_Summoner_Name">
		<span>Enter Summoner Name</span>
	</div>
	<svg class="Ellipse_1">
		<ellipse id="Ellipse_1" rx="4" ry="4" cx="4" cy="4">
		</ellipse>
	</svg>
</div>

</body>
</html>