<!-- HOMEPAGE OF WEBSITE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL Statistics Tracker</title>
    <link rel="stylesheet" href="../../Frontend/static/css/main.scss">
</head>
<body>
    <!-- Navigation bar on right side of homepage -->
    <div class="right-navbar">
        <div class="container">
            <a href="#">LOGO</a> <!-- Need to change this to redirect to the homepage -->
            <nav>
                <ul>
                    <li class="current"><a href="#">HOME</a></li>
                    <li><a href="#">LOGIN</a></li>
                    <li><a href="#">CHAMPIONS</a></li>
                </ul>
            </nav>

        </div>
    </div>

    <!-- Navigation bar at the bottom of the homepage -->
    <div class="bottom-navbar">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SUPPORT</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="website-name-header">
        <div class="container">
            <h1 class="main-header">LOL STAT TRACKER</h1>
        </div>
    </section>
</body>
</html>