 <!DOCTYPE html>
 <html lang="en">
  {% extends "homepage.html" %}
        {% block content %}
<head>
    TEST
</head>
<form action="/action_page.php">
            <div class="align-content-center">
                <div class="input-group rounded-pill">
                    <span class="border border-2">
                        <input type="search" class="form-control rounded-pill" placeholder="SEARCH FOR SUMMONER...">
                    </span>
                </div>
            </div>
        </form>
</html>
{% endblock %}